@using Kitaprazzi.Core.Helper
@model Kitaprazzi.Data.Model.Content
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    ViewBag.Title = Model.Title;
}

@{Html.RenderPartial("~/Views/_Partial/_Breadcrumb.cshtml", Model); }


<div class="container mb">
    <div class="row mb">
        <div class="col-12 col-lg-6 order-lg-2">
            <div class="detail">
                <div class="detail-title">@Model.Title.ToUpper()</div>
                <a href="\yayin-evi\detay\@Model.PublisherID" title="" class="detail-category">@Model.Publisher.Name</a>
                <div class="detail-description">
                    <p>@Model.Spot</p>
                    @Html.Raw(new HtmlString(Model.Description))
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 order-lg-1">
            <div class="image-wrapper">
                <div class="image-main">
                    @{ 
                        var mainImage = Model.MediaItems.FirstOrDefault(x => x.Content.ID == Model.ID && x.Type == (int)ImageType.SpotImage);
                        var sampleImages = Model.MediaItems.Where(x => x.Content.ID == Model.ID && x.Type == (int)ImageType.MediaImage).ToList();
                    }
                    <a href="@($"http://localhost:36658{mainImage.Url}")" data-fancybox="gallery" data-caption="@Model.Title">
                        <img src="@($"http://localhost:36658{mainImage.Url}")" alt="@Model.Title" />
                    </a>
                </div>
                <div class="image-group">
                    <span>Sayfa Örnekleri</span>
                    
                    <ul class="image-list">
                        @foreach (var image in sampleImages)
                        {
                            <li class="image-list-item">
                                <a href="@($"http://localhost:36658{image.Url}")" data-fancybox="gallery" data-caption="Asdfg 2">
                                    <img src="@($"http://localhost:36658{image.Url}")" alt="@Model.Title" />
                                </a>
                            </li>

                        }

                    </ul>
                    <ul class="rating">

                        <li>
                            <small>Kullanıcı Puanı</small>
                            <span>@(Model.UserPoint)</span>
                        </li>
                        <li>
                            <small>Editör Puanı</small>
                            <span>@(Model.EditorPoint)</span>
                        </li>
                        <li>
                            <small>Kitaprazzi Puanı</small>
                            <span>@(Model.KitaprazziPoint)</span>
                        </li>
                        <li>
                            <small>Ortalama Puanı</small>
                            <span>@Math.Round(((Model.UserPoint + Model.EditorPoint + Model.KitaprazziPoint) / 3),1)</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-3 order-lg-3">
            <div class="search-box dealers">
                <div class="search-box-title">BAYİ BUL</div>
                <div class="search-box-line">
                    <span class="search-box-line-title mb30">İl Seçiniz</span>
                    <span class="search-box-line-element">
                        <select>
                            <option selected="">İstanbul (Avrupa)</option>
                            <option selected="">İstanbul (Asya)</option>
                            <option selected="">İstanbul (Antartika)</option>
                        </select>
                    </span>
                </div>
                <div class="search-box-line">
                    <span class="search-box-line-title">İlçe Seçiniz</span>
                    <span class="search-box-line-element">
                        <select>
                            <option selected="">Bağcılar</option>
                            <option selected="">Bagcies</option>
                            <option selected="">Begalunya</option>
                        </select>
                    </span>
                </div>
                <div class="dealers-list">
                    <span class="dealers-name">Remzi Kitabevi</span>
                    <span class="dealers-phone">0212 250 96 07</span>

                    <span class="dealers-name">Remzi Kitabevi</span>
                    <span class="dealers-phone">0212 250 96 07</span>

                    <span class="dealers-name">Remzi Kitabevi</span>
                    <span class="dealers-phone">0212 250 96 07</span>

                    <span class="dealers-name">Remzi Kitabevi</span>
                    <span class="dealers-phone">0212 250 96 07</span>

                    <span class="dealers-name">Remzi Kitabevi</span>
                    <span class="dealers-phone">0212 250 96 07</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb">
    <div class="row">
        <div class="col-12">
            <div class="title-row">
                <a href="javascript:;" title="" class="main-title">ÖĞRETMEN YORUMLARI (16 Yorum)</a>
                <a href="javascript:;" title="" class="main-link d-none d-lg-block">TÜMÜNÜ GÖRÜNTÜLE <i class="fa fa-long-arrow-right"></i></a>
            </div>
            <div class="comment">
                <div class="row comment-row">
                    <div class="col-auto">
                        <img src="" alt="" class="comment-avatar" />
                    </div>
                    <div class="col">
                        <div class="comment-name">Burak Çakır</div>
                        <div class="comment-title">Öğrenciler için tam bir başucu kitabı</div>
                        <div class="comment-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis posuere eros, ac condimentum orci feugiat at. Duis ultricies lectus sem, quis semper nibh accumsan eget. Curabitur fringilla dapibus semper. Suspendisse turpis mi, tincidunt ut tellus ut, varius placerat nunc. Nunc ultrices sapien placerat ante pulvinar, sed ultricies quam rhoncus. Phasellus lacinia, enim sit amet congue sodales, ipsum arcu rutrum metus, eu volutpat ipsum lectus non justo. Morbi quis dignissim purus. Phasellus rhoncus eros quis purus sagittis, eget fringilla libero rutrum. Nulla a sapien quis tortor aliquam porttitor. Donec velit risus, lobortis a leo quis, cursus condimentum tellus. Fusce rhoncus est efficitur libero porttitor, non ultricies risus mattis. Praesent pretium varius nulla eget aliquam.</p>
                        </div>
                    </div>
                </div>
                <div class="row comment-row">
                    <div class="col-auto">
                        <img src="" alt="" class="comment-avatar" />
                    </div>
                    <div class="col">
                        <div class="comment-name">Burak Çakır</div>
                        <div class="comment-title">Öğrenciler için tam bir başucu kitabı</div>
                        <div class="comment-description">
                            <p>Ut aliquam id leo non dignissim. Donec sollicitudin enim sodales, lacinia nulla at, gravida dui. Ut rhoncus vestibulum diam, quis eleifend augue ornare id. Vestibulum placerat odio in maximus feugiat. Cras consequat in lectus varius imperdiet. Duis ut imperdiet nibh, non facilisis erat. Vivamus sed quam sit amet arcu lacinia viverra. Quisque suscipit eu urna non eleifend. Integer sed neque ut eros ultricies facilisis eu laoreet turpis. Ut tempus sem nec gravida pretium. Donec nec orci tincidunt, luctus lacus sed, ornare mi. Nam tincidunt, augue nec fermentum interdum, leo dolor cursus ex, nec commodo tellus tellus in justo.</p>
                        </div>
                    </div>
                </div>
                <div class="row comment-row">
                    <div class="col-auto">
                        <img src="" alt="" class="comment-avatar" />
                    </div>
                    <div class="col">
                        <div class="comment-name">Burak Çakır</div>
                        <div class="comment-title">Öğrenciler için tam bir başucu kitabı</div>
                        <div class="comment-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis posuere eros, ac condimentum orci feugiat at. Duis ultricies lectus sem, quis semper nibh accumsan eget. Curabitur fringilla dapibus semper. Suspendisse turpis mi, tincidunt ut tellus ut, varius placerat nunc. Nunc ultrices sapien placerat ante pulvinar, sed ultricies quam rhoncus. Phasellus lacinia, enim sit amet congue sodales, ipsum arcu rutrum metus, eu volutpat ipsum lectus non justo. Morbi quis dignissim purus. Phasellus rhoncus eros quis purus sagittis, eget fringilla libero rutrum. Nulla a sapien quis tortor aliquam porttitor. Donec velit risus, lobortis a leo quis, cursus condimentum tellus. Fusce rhoncus est efficitur libero porttitor, non ultricies risus mattis. Praesent pretium varius nulla eget aliquam.</p>
                            <p>Ut aliquam id leo non dignissim. Donec sollicitudin enim sodales, lacinia nulla at, gravida dui. Ut rhoncus vestibulum diam, quis eleifend augue ornare id. Vestibulum placerat odio in maximus feugiat. Cras consequat in lectus varius imperdiet. Duis ut imperdiet nibh, non facilisis erat. Vivamus sed quam sit amet arcu lacinia viverra. Quisque suscipit eu urna non eleifend. Integer sed neque ut eros ultricies facilisis eu laoreet turpis. Ut tempus sem nec gravida pretium. Donec nec orci tincidunt, luctus lacus sed, ornare mi. Nam tincidunt, augue nec fermentum interdum, leo dolor cursus ex, nec commodo tellus tellus in justo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
