@using Kitaprazzi.Data.Model
@using Kitaprazzi.Core.Helper
@model Kitaprazzi.Data.Model.Category
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var contentList = ViewBag.ContentList as List<Content>;
    var fullContentList = ViewBag.FullContentList as List<Content>;
    var publisherList = fullContentList.Select(x=>x.Publisher).Distinct();
    var contentTypeList  = fullContentList.Select(x=>x.ContentType).Distinct();

}

<script type="text/javascript">
    // push request
    const ajaxer = (contentType, publisher, sort) => {
        let getUrl = window.location.href;
        fetch(getUrl)
            //.then(response => response)
            .then(data => {
                var lParam = getQueryString("l", getUrl);
                var newUrl = location.protocol + '//' + location.host + location.pathname;
                if (lParam !== "undefined" && lParam !== null)
                    newUrl += "?l=" + lParam;

                var qStringChar = newUrl.includes("?") ? "&" : "?";
                var cType = getQueryString("contentType", getUrl);
                console.log("contentType" + cType);
                if (cType == "undefined" || cType == null) {
                    contentType = 0;
                }
                var pParam = getQueryString("publisherId", getUrl);
                console.log("pparam" + pParam);
                if (pParam == "undefined" || pParam == null) {
                    publisher = 0;
                }

                const newPath = newUrl + qStringChar + "contentType=" + contentType + "&publisherId=" + publisher + "&sortBy=" + sort;
                window.location.replace(newPath);
            });
    }

    var getQueryString = function (field, url) {
        var href = url ? url : window.location.href;
        var reg = new RegExp('[?&]' + field + '=([^&#]*)', 'i');
        var string = reg.exec(href);
        return string ? string[1] : null;
    };
    $(document).ready(function () {
        let getUrl = window.location.href;
        var publisherId = getQueryString("publisherId", getUrl);
        if (publisherId !== "undefined" && publisherId !== null)
            $("#" + publisherId + "").prop("checked", true);

        var contentTypeId = getQueryString("contentType", getUrl);
        if (contentTypeId !== "undefined" && contentTypeId !== null)
            $("#" + contentTypeId + "").prop("checked", true);

        // pull by select
        var $select = $('.by-point');
        $select.on('change', function () {
            var sortVal = $(this).val();
            var contentTypeId = $('input[name=contentType]:checked').val();
            var publisherVal = $('input[name=publisher]:checked').val();
            ajaxer(contentTypeId, publisherVal, sortVal);
        });

        // pull by radio
        const publisherOption = $(".filter-list-content input[name='publisher']");
        var query = "publisherID=";
        publisherOption.change(function () {
            var _id = $(this).val();
            var contentTypeId = $('input[name=contentType]:checked').val();
            var sortVal = $(".by-point").val();
            ajaxer(contentTypeId, _id, sortVal);
        });

        // pull by contentType
        const contentTypeOption = $(".filter-list-content input[name='contentType']");
        var query = "contentType=";
        contentTypeOption.change(function ()
        {
            var _id = $(this).val();
            var sortVal = $(".by-point").val();
            var publisherVal = $('input[name=publisher]:checked').val();
            ajaxer(_id, publisherVal, sortVal);
        });
        
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
            <div class="filter mb">
                <div class="filter-title">SONUÇLARI FİLTRELE</div>
                <div class="row filter-list">
                    <div class="col-6 col-md-12">
                        <div class="filter-list-item">
                            <div class="filter-list-title">İÇERİK TİPİNE GÖRE</div>
                            <div class="filter-list-content">
                                @foreach (var contentType in contentTypeList)
                                {
                                    <span class="check">
                                        <label for="@contentType">
                                            <input type="radio" name="contentType" id="@contentType.ID" value="@contentType.ID" />
                                            @contentType.Name
                                        </label>
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-12">
                        <div class="filter-list-item">
                            <div class="filter-list-title">YAYINCIYA GÖRE</div>
                            <div class="filter-list-content">
                                @foreach (var pubilsher in publisherList)
                                {
                                    <span class="check">
                                        <label for="@pubilsher.ID">
                                            <input type="radio" name="publisher" id="@pubilsher.ID" value="@pubilsher.ID" />
                                            @pubilsher.Name
                                        </label>
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-12">
                        <div class="filter-list-item">
                            <div class="filter-list-title">PUANA GÖRE</div>
                            <div class="filter-list-content">
                                <span>Puana göre filtre:</span>
                                <select class="by-point">
                                    <option value="1" selected>En yüksekten düşüğe</option>
                                    <option value="0">En düşükten yükseğe</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9">

            <div class="row">
                <div class="col-12">
                    <div class="title-row">
                        <a href="javascript:;" title="" class="main-title">@Model.Name.ToUpper()</a>
                    </div>
                    <div class="row">
                        @foreach (var content in contentList)
                        {
                            var mainImage = content.MediaItems.FirstOrDefault(x => x.Content.ID == content.ID && x.Type == (int)ImageType.SpotImage)?? new MediaItem {Url= "/external/content/7ad586eb83f44123925e69d1965fb363.jpg" }; // standart resim eklenecek
                            <div class="col-12 col-sm-6 col-lg-4">
                                <a href="@($"/kitap/detay/{content.ID}")" title="@content.Title" class="product">
                                    <span class="product-image">
                                        <span class="product-image-wrapper">
                                            <img src="@($"{GlobalHelper.ImageAdress}{mainImage.Url}")" alt="@content.Title" />
                                        </span>
                                    </span>
                                    <span class="product-publisher">@content.Publisher.Name</span>
                                    <span class="product-category">@content.Category.Name</span>
                                    <span class="product-title">@content.Title</span>
                                    <span class="star-rating">
                                        <span class="star-rating-text">
                                            <i>KR puanı</i>
                                            @*@Math.Round(((content.UserPoint + content.EditorPoint + content.KitaprazziPoint) / 3), 1)*@
                                            @Math.Round(content.KitaprazziPoint, 1)
                                        </span>
                                    </span>
                                </a>
                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



