@using Kitaprazzi.Data.Model
@using Kitaprazzi.Core.Helper
@model Kitaprazzi.Data.Model.Category
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var contentList = ViewBag.ContentList as List<Content>;
    var publisherList = contentList.Select(x=>x.Publisher).Distinct();

}





<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
            <div class="filter mb">
                <div class="filter-title">SONUÇLARI FİLTRELE</div>
                <div class="row filter-list">
                    <div class="col-6 col-md-12">
                        <div class="filter-list-item">
                            <div class="filter-list-title">YAYINCIYA GÖRE</div>
                            <div class="filter-list-content">
                                <span class="check">
                                    <label for="all">
                                        <input checked="checked" type="checkbox" id="all" />
                                        Hepsi
                                    </label>
                                </span>
                                @foreach (var pubilsher in publisherList)
                                {
                                    <span class="check">
                                        <label for="@pubilsher.ID">
                                            <input type="checkbox" id="@pubilsher.ID" />
                                            @pubilsher.Name
                                        </label>
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-12">
                        <div class="filter-list-item">
                            <div class="filter-list-title">PUANA GÖRE</div>
                            <div class="filter-list-content">
                                <span>Puana göre filtre:</span>
                                <select class="by-point">
                                    <option selected>En yüksekten düşüğe</option>
                                    <option>En düşükten yükseğe</option>
                                </select>
                            </div>
                            @*<div class="filter-list-content">
                                <span>1-3</span>
                                <span>3-5</span>
                                <span>5-7</span>
                                <span>7-9</span>
                                <span>9-10</span>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9">

            <div class="row">
                <div class="col-12">
                    <div class="title-row">
                        <a href="javascript:;" title="" class="main-title">@Model.Name.ToUpper()</a>
                    </div>
                    <div class="row">
                        @foreach (var content in contentList)
                        {
                            var mainImage = content.MediaItems.FirstOrDefault(x => x.Content.ID == content.ID && x.Type == (int)ImageType.SpotImage)?? new MediaItem {Url= "/external/content/7ad586eb83f44123925e69d1965fb363.jpg" }; // standart resim eklenecek
                            <div class="col-12 col-sm-6 col-lg-4">
                                <a href="@($"/kitap/detay/{content.ID}")" title="@content.Title" class="product">
                                    <span class="product-image">
                                        <span class="product-image-wrapper">
                                            <img src="@($"{GlobalHelper.ImageAdress}{mainImage.Url}")" alt="@content.Title" />
                                        </span>
                                    </span>
                                    <span class="product-publisher">@content.Publisher.Name</span>
                                    <span class="product-category">@content.Category.Name</span>
                                    <span class="product-title">@content.Title</span>
                                    <span class="star-rating">
                                        <span class="star-rating-text">
                                            <i>KR puanı</i>
                                            @content.KitaprazziPoint
                                        </span>
                                    </span>
                                </a>
                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



