@using Kitaprazzi.Data.Model
@using Kitaprazzi.Core.Helper
@model List<MainSlider>

@if (Model != null && Model.Any())
{
    
    <div class="main-slider swiper-container">
        <div class="swiper-wrapper">
            @foreach (var slide in Model)
            {
                var detailSlide = slide.Type.Equals("1");
                <div class="swiper-slide">
                    <div class="main-slide-item @if (detailSlide) { <text> type2</text>} ">
                        <img src="@($"{GlobalHelper.ImageAdress}{slide.ImageUrl}") slide.ImageUrl" alt="@slide.Spot" />
                        @if (detailSlide)
                        {
                            <span class="main-slide-info">
                                <span class="main-slide-title">@slide.Spot</span>
                                <a href="@slide.ButtonUrl" title="" class="main-slide-button d-none d-md-block">@slide.ButtonText</a>
                            </span>
                        }
                    </div>

                </div>
            }
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev d-none d-md-block"><i class="fa fa-long-arrow-left"></i></div>
        <div class="swiper-button-next d-none d-md-block"><i class="fa fa-long-arrow-right"></i></div>
    </div>
}
