@using Kitaprazzi.Data.Model;
@using Kitaprazzi.Core.Helper
@{
    var contentList = ViewBag.ContentList as List<Content>;
}
<div class="container mb">
    <div class="row">
        <div class="col-12">
            <div class="title-row">
                <a href="javascript:;" title="" class="main-title">EN YÜKSEK PUANLI KİTAPLAR</a>
                <a href="javascript:;" title="" class="main-link d-none d-lg-block">TÜMÜNÜ GÖRÜNTÜLE <i class="fa fa-long-arrow-right"></i></a>
            </div>
            <div class="row">
                @foreach (var item in contentList)
                {
                    var mainImage = item.MediaItems.FirstOrDefault(x => x.Content.ID == item.ID && x.Type == (int)ImageType.SpotImage) ?? new MediaItem();
                    <div class="col-12 col-sm-6 col-lg-3">
                        <a href="@($"/kitap/detay/{item.ID}")" title="@item.Title" class="product">
                            <span class="product-image">
                                <span class="product-image-wrapper">
                                    <img src="@($"{GlobalHelper.ImageAdress}{mainImage.Url}")" alt="@item.Title" />
                                </span>
                            </span>
                            <span class="product-publisher">@item.Publisher.Name</span>
                            <span class="product-category">@item.Category.Name</span>
                            <span class="product-title">@item.Title</span>
                            <span class="star-rating">
                                <span class="star-rating-text">
                                    <i>KR puanı</i>
                                    @Math.Round(((item.UserPoint + item.EditorPoint + item.KitaprazziPoint) / 3), 1)
                                </span>
                            </span>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>