@model Kitaprazzi.Data.Model.Content

@{
    ViewBag.Title = "Add Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/ckeditor/ckeditor.js"></script>
<div class="container-fluid">
    <!-- Basic form -->
    @using (Html.BeginForm("Update", "Contents", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <header class="panel-heading">@ViewBag.Title</header>
                    <div class="panel-body">
                        @Html.HiddenFor(x => x.ID)
                        <form role="form">
                            <div class="form-group">
                                <label for="Category Name">Kategori Adı</label>
                                @Html.DropDownListFor(model => model.CategoryID, new SelectList(ViewBag.CategoryList, "ID", "Name"), ("Select Item"), new { @class = "form-control", id = "CategoryId" })
                            </div>
                            <div class="form-group">
                                <label for="Category Name">Ders Adı</label>
                                @Html.DropDownListFor(model => model.LessonID, new SelectList(ViewBag.LessonList, "ID", "Name"), ("Select Item"), new { @class = "form-control", id = "LessonId" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">İçerik Tipi</label>
                                @Html.DropDownListFor(model => model.ContentTypeID, new SelectList(ViewBag.ContentTypeList, "ID", "Name"), ("Select Item"), new { @class = "form-control", id = "ContentTypeId" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">İçerik Başlık</label>
                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", id = "contentTitle", placeholder = "Content Title" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Short Açıklama</label>
                                @Html.TextBoxFor(x => x.Spot, new { @class = "form-control", id = "spot", placeholder = "Short Description" })

                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Açıklama</label>
                                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", id = "description", placeholder = "Description", @cols = 20, @rows = 20 })
                                <script type="text/javascript">
                                    var editor = CKEDITOR.instances['Description'];
                                    if (editor) {
                                        editor.destroy(true);
                                    }
                                    CKEDITOR.replace('Description',
                                        {
                                            language: 'tr',
                                            contentsLanguage: 'tr',
                                            toolbar: [
                                                ['Bold', 'Italic', 'Underline', 'Strike', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'TextColor'],
                                                ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv']
                                            ]
                                        });
                                </script>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Spot Görsel</label>
                                <input type="file" name="spotImage" accept="image/*" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">İçerik Görselleri</label>
                                <input type="file" name="contentImages" accept="image/*" class="form-control" multiple />
                            </div>
                            <div class="form-group">
                                <label for="Publisher Name">Yayınevi</label>
                                @Html.DropDownListFor(model => model.PublisherID, new SelectList(ViewBag.PublisherList, "ID", "Name"), ("Select Item"), new { @class = "form-control", id = "publisherId" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Durum</label>
                                @Html.DropDownListFor(model => model.Status, new SelectList(ViewBag.StatusList, "Value", "Name"), ("Select Item"), new { @class = "form-control", id = "status" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Puanlama</label>
                                <a href="@Url.Action("UpdateRating","Contents",new {id = Model.ID})" class="btn btn-default btn-sm" target="_blank">Puanlama Sayfası</a>
                            </div>
                            <button type="submit" class="btn btn-default">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- /Basic form -->

</div>

