@model Kitaprazzi.Data.Model.Category
@using Zathura.Admin.Models;
@{
    ViewBag.Title = "Add Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lessonList = ViewBag.LessonList as List<CheckLessonModel>;
}

<div class="container-fluid">
    <!-- Basic form -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class="panel-heading">@ViewBag.Title</header>
                <div class="panel-body">
                    @Html.HiddenFor(x => x.ID)
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Parent Category Name</label>
                            @Html.DropDownListFor(model => model.CategoryID, new SelectList(ViewBag.ParentCategoryList, "ID", "Name"), ("Select Item"), new { @class = "form-control", id = "categoryID" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Category Name</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "categoryName", placeholder = "Category Name" })
                        </div>
                        @*<div class="checkbox">
            <label>
                <input type="checkbox" id="categoryIsActive" checked> Is Active?
            </label>
        </div>*@
                        @foreach (var lesson in lessonList)
                        {
                        <div class="form-group">
                            <label for="exampleInputEmail1">@lesson.LessonName</label>
                            @Html.CheckBoxFor(m => lesson.IsCheck, new { @class = "form-control", id = "lessonIDs", dataname = lesson.LessonId })
                        </div>
                        }
                        <div class="form-group">
                            <label for="exampleInputEmail1">Status</label>
                            @Html.DropDownListFor(model => model.Name, new SelectList(ViewBag.StatusList, "Value", "Name"), ("Select Item"), new { @class = "form-control", id = "status" })
                        </div>
                        <a href="#" class="btn btn-default" onclick="AddCategory()">Save</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Basic form -->
    
</div>