@model Zathura.Data.Model.Category
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Basic form -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class="panel-heading">@ViewBag.Title</header>
                <div class="panel-body">
                    @Html.HiddenFor(x=> x.ID)
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Parent Category Name</label>
                            @Html.DropDownListFor(model => model.ParentCategoryId, new SelectList(ViewBag.ParentCategoryList, "ID", "Name"), ("Select Item"), new {@class = "form-control", id = "ParentCategoryId"})
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Category Name</label>
                            @Html.TextBoxFor(x => x.Name, new {@class = "form-control", id = "categoryName", placeholder = "Category Name"})
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Url</label>
                            @Html.TextBoxFor(x => x.Url, new {@class = "form-control", id = "categoryUrl", placeholder = "Url"})
                        </div>
                        @*<div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(x => x.IsActive, new { @checked = "checked", id = "categoryIsActive" }) Is Active?
                            </label>
                        </div>*@
                        <div class="form-group">
                            <label for="exampleInputEmail1">Status</label>
                            @Html.DropDownListFor(model => model.Status, new SelectList(ViewBag.StatusList, "Value", "Name"), ("Select Item"), new { @class = "form-control", id = "status" })
                        </div>
                        <a href="#" class="btn btn-default" onclick="UpdateCategory()">Save</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Basic form -->

</div>

