@model Zathura.Data.Model.Content
@{
    ViewBag.Title = "Add Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/ckeditor/ckeditor.js"></script>
<div class="container-fluid">
    <!-- Basic form -->
    @using (Html.BeginForm("Add", "Content", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <header class="panel-heading">@ViewBag.Title</header>
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="Category Name">Category Name</label>
                                @Html.DropDownListFor(model => model.CategoryID, new SelectList(ViewBag.CategoryList, "ID", "Name"), ("Select Item"), new { @class = "form-control", id = "CategoryId" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Content Title</label>
                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", id = "contentTitle", placeholder = "Content Title" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Short Description</label>
                                @Html.TextBoxFor(x => x.ShortDescription, new { @class = "form-control", id = "shortDescription", placeholder = "Short Description" })
                                @*@Html.TextArea("ShortDescription")
                                    <script type="text/javascript">
                                        var editor = CKEDITOR.instances['ShortDescription'];
                                        if (editor) {
                                            editor.destroy(true);
                                        }
                                        CKEDITOR.replace('ShortDescription',
                                        {
                                            enterMode:CKEDITOR.ENTER_BR,
                                        });
                                    </script>*@
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Description</label>
                                @*@Html.TextAreaFor(x => x.Description, new { @class = "form-control", id = "description", placeholder = "Description" })*@
                                @Html.TextArea("Description")
                                <script type="text/javascript">
                                var editor = CKEDITOR.instances['Description'];
                                if (editor) {
                                    editor.destroy(true);
                                }
                                CKEDITOR.replace('Description',
                                {
                                    enterMode: CKEDITOR.ENTER_BR,
                                });
                                </script>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Spot Image</label>
                                <input type="file" name="spotImage" accept="image/*" class="form-control" />
                            </div>
                            
                            <div class="form-group">
                                <label for="exampleInputEmail1">Content Image(s)</label>
                                <input type="file" name="contentImages" accept="image/*" class="form-control" multiple/>
                            </div>

                            @*<div class="form-group">
                                    <label for="exampleInputEmail1">Status</label>
                                    @Html.DropDownListFor(model => model.Status, new SelectList(ViewBag.StatusList, "Value", "Name"), ("Select Item"), new { @class = "form-control", id = "status" })
                                </div>*@

                            <button type="submit" class="btn btn-default">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
    
    <!-- /Basic form -->

</div>

